{% extends 'base_reclutador.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Completar Detalles</h1>
    <form method="POST">
        {% csrf_token %}
        <h2 class="h4">Experiencia</h2>
        <div class="mb-4">
            {{ experiencia_form.as_p }}
        </div>
        <button type="submit" name="añadir mas" class="btn btn-primary">Agregar más</button>
        <button type="submit" name="finish" class="btn btn-success">Finalizar</button>
    </form>
</div>
{% endblock %}
