{% extends 'base_aspirante.html' %}{% load static %}

{% block title %}Home teacher{% endblock %}
{% block content %}

<div class="container">

    <div class="header text-center mt-4 ">
        <h1 class="titulo_magneto_1">
            <span class="color_m_font">m</span>agneto <span class="color_m_font">empleo</span>
        </h1>
        <div class="container mx-auto px-5 mt-4">
            <p class="mx-5 px-5 text-center">
                Bienvenido de nuevo {{aspirante.usuario.nombre}}, el grupo de <span class="color_logo_empresa_col">m</span>agneto <span class="color_logo_empresa_col">empleos</span> estamos a tu disposicion para la busqueda de tu Empleo soñado
            </p>
        </div>

    </div>

    <div class="input-group mb-3 justify-content-center ">
        <input type="text" class="form-control w-50 " style="background-color: #e9e9f6;" placeholder="Buscar empleo" aria-label="Buscar empleo">
        <select class="form-control w-10 " style="background-color: #e9e9f6;">
            <option selected>Categoría</option>
            <option>Marketing</option>
            <option>Desarrollo</option>
            <option>Diseño</option>
            <option>Administración</option>
        </select>
        <div class="input-group-append ">
            <button class="btn btn-success " type="button">
                    <i class="fa-solid fa-check fa-2x"></i>
            </button>
        </div>
    </div>

    <div>
        <div class="d-flex justify-content-left mt-2 align-items-center">
            <small><strong>Búsqueda rápida: </strong></small>
            <button class="btn btn-outline-secondary mx-1">Educacion</button>
            <button class="btn btn-outline-secondary mx-1">Salud</button>
            <button class="btn btn-outline-secondary mx-1">Diseño</button>
            <button class="btn btn-outline-secondary mx-1">Construccion</button>
            <button class="btn btn-outline-secondary mx-1">Ingenieria</button>
        </div>
    </div>

    <div class="container my-5 py-5">

        <h2 class="titulo_magneto_2 text-center mb-4">
            Co<span class="color_m_font">m</span>unidades
        </h2>
        <h5 class="text-center mb-5"> Podrian ser de tu agrado estas co<span class="color_m_size ">m</span>unidades, Ani<span class="color_m_size ">m</span>ate...</h5>

        <div class="row">
            <div class="col-md-8 border border-top-0 border-bottom-0 p-3">
                <section class="">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <h3 class="mb-3">Te recomendamos.. </h3>
                            </div>
                            <div class="col-6 text-right">
                                <a class="btn fondo_verde mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                                    <i class="fa fa-arrow-left"></i>
                                </a>
                                <a class="btn fondo_verde mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                            <div class="col-12">
                                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel" data-interval="3000">
                                    <div class="carousel-inner">
                                        {% for grupos in grouped_grupos %}
                                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                                <div class="row">
                                                    {% for grupo, sim in grupos %}
                                                        <div class="col-md-4">
                                                            <div class="card_grupo card">
                                                                <img class="img-fluid p-2"  alt="100%x280" src="{{ grupo.image.url }}">
                                                                <div class="card-body">
                                                                    <h4 class="card-title">{{grupo.nombre}}</h4>
                                                                    <p class="card-text">{{grupo.descripcion |truncatewords:20}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <p>Bienvenido a Match-Neto, una sección donde puedes ser parte activa de la comunidad. Aquí, tendrás la oportunidad de compartir tus opiniones sobre diferentes temas, proponer soluciones creativas a problemas y, lo más importante, conocer nuevas personas con intereses similares a los tuyos. Es un espacio diseñado para fomentar el intercambio de ideas, la colaboración y la creación de conexiones valiosas. Si buscas dar tu punto de vista, ayudar a resolver desafíos o simplemente hacer nuevas amistades, Match-Neto es el lugar perfecto para ti. ¡Únete y forma parte de este entorno lleno de posibilidades!</p>
            </div>
        </div>
    </div>

    <div class="container ">

        <div class="col align-items-stretch">
            <h2 class="titulo_magneto_2 text-center mb-5">
                E<span class="color_m_font">m</span>pleos
            </h2>
            <h5 class="text-center"> Segun tu perfil te reco<span class="color_m ">m</span>enda<span class="color_m ">m</span>os...</h5>
        </div>
        <div class="row">
            <div class="col-md-12 align-items-stretch">
                <div class="container mb-5">
                    <div class="slider">
                                {% for group in grouped_cards %}

                                {% for empleo, sim in group %}

                                <div class="item card" style="width: 20rem;">
                                    <h5 class="card-header text-center">{{empleo.titulo}}</h5>
                                        <img src="{{ empleo.reclutador.logo.url }}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <ul class="card-text">
                                                <li><strong>Salario:</strong> {{ empleo.salario }}</li>
                                                <li><strong>País:</strong> {{ empleo.pais }}</li>
                                                <li><strong>Experiencia:</strong> {{ empleo.experiencia|truncatewords:30 }}</li>
                                            </ul>
                                    </div>
                                    <div class="card-footer text-body-secondary">
                                        <a href="{% url 'detalle_empleo_aspirante' empleo.id %}" class="btn btn-success w-100 fondo_verde text-dark border border-0"><strong>mirar</strong></a>

                                    </div>


                                </div>

                                {% endfor %}
                                {% endfor %}
                        <button id="next">></button>
                        <button id="prev"><</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5">
        <h2 class="titulo_magneto_2 text-center ">
            <span class="color_m_font_big ">m</span>atch-neto
        </h2>
        <p>En esta sección, encontrarás una amplia variedad de videos y publicaciones relacionadas con empleos, ideales para explorar nuevas oportunidades profesionales. Aquí no solo podrás acceder a las ofertas de trabajo, sino también descubrir empresas que tal vez no habías considerado antes. Gracias a nuestra tecnología avanzada, este espacio está diseñado para ayudarte a detectar empresas y sus intereses, que de otra manera podrían haber pasado desapercibidas. Cada video y post está cuidadosamente seleccionado para ofrecerte información relevante y actualizada, ayudándote a tomar decisiones más informadas sobre tu carrera. ¡No dejes pasar la oportunidad de descubrir nuevas perspectivas y avanzar en tu camino profesional!</p>
        <div class="wrapper mt-4">
            <div class="container_video_post">
                {% for video, sim in resultados_video_post_ord %}

                <input type="radio" name="slide" id="c{{ forloop.counter }}" {% if forloop.first %}checked{% endif %}>
                <label for="c{{ forloop.counter }}" class="card_video_post">
                    <video autoplay muted loop class="background_video" id="video{{ forloop.counter }}">
                        <source src="{{ video.video_file.url }}" type="video/mp4">
                        Tu navegador no soporta el elemento de video.
                    </video>
                    <button class="pause_button" onclick="togglePlayPause({{ forloop.counter }})">⏯️</button>
                    <button class="volume_button" onclick="toggleMute({{ forloop.counter }})">🔊</button>
                    <div class="row_video_post">
                        <div class="icon_video_post">
                            <a href="{% url 'detalle_empleo_aspirante' video.empleo.id %}" class="text-white" ><strong>ver</strong></a>
                        </div>
                        <div class="description_video_post">
                            <h4>{{video.empleo.titulo}}</h4>
                            <p>{{video.empleo.descripcion|truncatewords:5}}</p>
                        </div>
                    </div>
                </label>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="titulo_magneto_2 text-center mb-3">
            E<span class="color_m_font ">m</span>presas
        </h2>
    </div>


</div>

<div class="container mt-5 mb-5" >
    <div class="logo-carousel">
        <div class="logo-track">
            {% for empresa, sim in resultadoFemp %}
            <a href="{% url 'empleos_aspirante' empresa.id %}">
                <img src="{{ empresa.logo.url }} " alt="{{ empresa.nombre_empresa }}">
            </a>
            {% endfor %}
            {% for empresa, sim in resultadoFemp %}
            <a href="{% url 'empleos_aspirante' empresa.id %}" >
                <img src="{{ empresa.logo.url }}" alt="{{ empresa.nombre_empresa }}" class="shadow">
            </a>
            {% endfor %}
      </div>
    </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
    let items = document.querySelectorAll('.slider .item');
    let next = document.getElementById('next');
    let prev = document.getElementById('prev');

    let active = 3;
    function loadShow(){
        let stt = 0;
        items[active].style.transform = `none`;
        items[active].style.zIndex = 1;
        items[active].style.filter = 'none';
        items[active].style.opacity = 1;
        for(var i = active + 1; i < items.length; i++){
            stt++;
            items[i].style.transform = `translateX(${120*stt}px) scale(${1 - 0.2*stt}) perspective(16px) rotateY(-1deg)`;
            items[i].style.zIndex = -stt;
            items[i].style.filter = 'blur(5px)';
            items[i].style.opacity = stt > 2 ? 0 : 0.6;
        }
        stt = 0;
        for(var i = active - 1; i >= 0; i--){
            stt++;
            items[i].style.transform = `translateX(${-120*stt}px) scale(${1 - 0.2*stt}) perspective(16px) rotateY(1deg)`;
            items[i].style.zIndex = -stt;
            items[i].style.filter = 'blur(5px)';
            items[i].style.opacity = stt > 2 ? 0 : 0.6;
        }
    }
    loadShow();
    next.onclick = function(){
        active = active + 1 < items.length ? active + 1 : active;
        loadShow();
    }
    prev.onclick = function(){
        active = active - 1 >= 0 ? active - 1 : active;
        loadShow();
    }
</script>

<script>
    function togglePlayPause(index) {
        const video = document.getElementById(`video${index}`);
        const pauseButton = document.querySelector(`.pause_button[onclick="togglePlayPause(${index})"]`);

        if (video.paused) {
            video.play();
            pauseButton.textContent = "⏸️"; // Cambia el icono a pausa
        } else {
            video.pause();
            pauseButton.textContent = "▶️"; // Cambia el icono a play
        }
    }

    function toggleMute(index) {
        const video = document.getElementById(`video${index}`);
        video.muted = !video.muted;
        const volumeButton = document.querySelector(`.volume_button[onclick="toggleMute(${index})"]`);
        volumeButton.textContent = video.muted ? "🔇" : "🔊";
    }
</script>

{% endblock %}






