{% extends 'base_aspirante.html' %}{% load static %}

{% block title %}Mi Perfil Aspirante{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card mb-3 m-5 border border-dark-subtle bg-transparent border-5">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ aspirante.usuario.foto_perfil.url }}" class="img-fluid rounded-start p-5" alt="user image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center"> {{ aspirante.usuario.nombre }} </h5>
                    <div class="row align-items-start m-5">
                        <div class="col">
                            <strong>documento identidad:</strong>{{ aspirante.usuario.documento_identidad }}
                        </div>
                        <div class="col">
                            <strong>Email:</strong> {{ aspirante.usuario.email }}
                        </div>
                    </div>
                    <div class="row align-items-start m-5">
                        <div class="col">
                            <strong>Pais:</strong>{{ aspirante.usuario.pais }}
                        </div>
                        <div class="col">
                            <strong>Ciudad:</strong> {{ aspirante.usuario.ciudad }}
                        </div>
                    </div>
                    <div class="row align-items-start m-5">
                        <div class="col">
                            <strong>Indicativo de telefono:</strong> {{ aspirante.usuario.indicativo_pais }}
                        </div>
                        <div class="col">
                            <strong>Telefono:</strong> {{ aspirante.usuario.telefono }}
                        </div>
                    </div>
                    <div class="row mx-5 px-5">
                        <a href="{% url 'editar_aspirante_user' %}" class="btn btn-secondary mb-2">Editar mi usuario</a>
                        <a href="{% url 'cambiar_contrasena' %}" class="btn btn-danger">Cambiar Contraseña</a>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3 m-5 border border-dark-subtle bg-transparent border-5">
        <div class="row g-0">

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center mt-2"> {{ aspirante.usuario.nombre }} </h5>

                    <div class="row align-items-start m-5">
                        <div class="col">
                            <strong>Mi Descripcion:</strong> {{ aspirante.descripcion }}
                        </div>
                    </div>

                    <div class="row align-items-start m-5">
                        <div class="col">
                            <strong>Mis Objetivos: </strong> {{ aspirante.objetivos }}
                        </div>
                    </div>

                    <div class="row align-items-start m-5">
                        <div class="col">
                            <strong>Mis Gustos e Intereses:</strong> {{ aspirante.gustos_intereses }}
                        </div>
                    </div>

                    <div class="row align-items-start m-5">
                        <div class="col">
                            <strong>Mis Competencias Tecnicas:</strong> {{ aspirante.competencias_tecnicas }}
                        </div>
                    </div>

                    <div class="row align-items-start m-5">
                        <div class="col">
                            <strong>Mis Habilidades Blandas:</strong> {{ aspirante.habilidades_blandas }}
                        </div>
                    </div>

                    <div class="row mx-5 px-5">
                        <a href="{% url 'editar_aspirante_aspirante' %}" class="btn btn-secondary mb-2">Actualizar preferencias y requerimentos</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5 pt-5" >
                <div class="row align-items-start ">
                        <div class="col">
                            <strong>Sector Laboral: </strong> <p>{{ aspirante.sector_laboral }}</p>
                        </div>
                        <div class="col">
                            <strong>Salario: </strong> <p>{{ aspirante.salario }}</p>
                        </div>

                    </div>
                <div class="row align-items-start ">
                    <div class="col">
                        <strong>Modalidad de Trabajo: </strong> <p>{{ aspirante.modalidad_trabajo }}</p>
                    </div>
                    <div class="col">
                            <strong>Disponibilidad de Empezar: </strong><p>{{ aspirante.disponibilidad_de_empezar|date:"d M Y" }}</p>
                        </div>
                </div>

                    <div class="row align-items-start ">
                        <div class="col">
                            <strong>Disponibilidad de Viajar: </strong> <p>{{ aspirante.disponibilidad_de_viajar }}/<p>
                        </div>
                        <div class="col">
                            <strong>Idioma Natal:</strong> <p>{{ aspirante.idioma_natal }}</p>
                        </div>
                    </div>

                <div class="row">
                    <div class="col">
                        <video class="card-img-top p-3" controls>
                            <source src="{{ aspirante.video_presentacion.url }}" type="video/mp4">
                            Tu navegador no soporta la etiqueta de video.
                        </video>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center ms-5">
                        <a href="{{ aspirante.hoja_vida.url }}" class="btn btn-outline-secondary w-100">Hoja de Vida</a>

                    </div>
                    <div class="col text-center me-5">
                        {% if aspirante.proyectos %}
                            <a href="{{ aspirante.proyectos.url }}" class="btn btn-outline-secondary w-100 ">Proyectos</a>
                        {% else %}
                            <p>No projects uploaded.</p>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 m-5 border border-dark-subtle bg-transparent border-5">
        <div class="row mb-4">
            <!-- Columna izquierda: Enlaces -->
            <div class="col-md-6 px-5 pt-3">
                <h2 class="text-center">Mis Redes Sociales</h2>
                <ul class="list-group">
                    {% if aspirante.redes_sociales.facebook %}
                    <li class="list-group-item bg-transparent ">
                        <a href="{{ aspirante.redes_sociales.facebook }}" target="_blank" class="d-flex align-items-center justify-content-center ">
                            <i class="fab fa-facebook fa-2x me-3 text-primary"></i>
                            Facebook
                        </a>
                    </li>
                    {% endif %}

                    {% if aspirante.redes_sociales.linkedin %}
                    <li class="list-group-item bg-transparent">
                        <a href="{{ aspirante.redes_sociales.linkedin }}" target="_blank" class="d-flex align-items-center justify-content-center ">
                            <i class="fab fa-linkedin fa-2x me-3 text-info"></i>
                            LinkedIn
                        </a>
                    </li>
                    {% endif %}

                    {% if aspirante.redes_sociales.twitter %}
                    <li class="list-group-item bg-transparent">
                        <a href="{{ aspirante.redes_sociales.twitter }}" target="_blank" class="d-flex align-items-center justify-content-center">
                            <i class="fab fa-twitter fa-2x me-3 text-info"></i>
                            Twitter
                        </a>
                    </li>
                    {% endif %}

                    {% if aspirante.redes_sociales.instagram %}
                    <li class="list-group-item bg-transparent">
                        <a href="{{ aspirante.redes_sociales.instagram }}" target="_blank" class="d-flex align-items-center justify-content-center">
                            <i class="fab fa-instagram fa-2x me-3 text-danger"></i>
                            Instagram
                        </a>
                    </li>
                    {% endif %}

                    {% if aspirante.redes_sociales.github %}
                    <li class="list-group-item bg-transparent">
                        <a href="{{ aspirante.redes_sociales.github }}" target="_blank" class="d-flex align-items-center justify-content-center">
                            <i class="fab fa-github fa-2x me-3"></i>
                            GitHub
                        </a>
                    </li>
                    {% endif %}

                    {% if aspirante.redes_sociales.youtube %}
                    <li class="list-group-item bg-transparent">
                        <a href="{{ aspirante.redes_sociales.youtube }}" target="_blank" class="d-flex align-items-center justify-content-center ">
                            <i class="fab fa-youtube fa-2x me-3 text-danger"></i>
                            YouTube
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>



            <div class="col-md-6 px-5 pt-3">
                <h2 class="text-center">Idiomas</h2>
                    {% if idiomas %}
                        <ul class="list-group list-group-numbered">
                            {% for idioma in idiomas %}
                            <li class="list-group-item bg-transparent text-center">{{idioma.idioma}}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                            <div class="col">
                                <p>No hay videos asociados a este empleo.</p>
                            </div>
                    {% endif %}
            </div>
        </div>
    </div>


    <div class="card mb-3 m-5 border border-dark-subtle bg-transparent border-5">
        <div class="row mb-4">
            <div class="col-md-6 px-5 pt-3">

                <h2 class="text-center">Línea de Tiempo de Formación</h2>
                <ul class="timeline">
                    {% for formacion in formaciones %}
                    <li>
                        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{ formacion.titulo }}</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ formacion.fecha_inicio }} - {{ formacion.fecha_fin }}</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>{{ formacion.institucion }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <a href="{% url 'agregar_formacion' %}" class="btn btn-success mt-3 w-100">Añadir Formación</a>
            </div>


            <div class="col-md-6 px-5 pt-3">

                 <h3 class="text-center">Experiencia Laboral</h3>
                <ul class="timeline text-center">
                    {% for experiencia in experiencias %}
                    <li class="timeline-item">
                        <div class="timeline-badge"><i class="glyphicon glyphicon-briefcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{ experiencia.titulo_puesto }}</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ experiencia.fecha_inicio }} - {{ experiencia.fecha_fin|default:"Actualidad" }}</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>{{ experiencia.empresa }}</p>
                                <p>{{ experiencia.descripcion }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                    <a href="{% url 'agregar_experiencia' %}" class="btn btn-success mt-3 w-100">Añadir Experiencia Laboral</a>
            </div>
        </div>

    <!-- Bootstrap CSS para la línea de tiempo -->
    <style>
        .timeline {
            list-style: none;
            padding: 20px 0;
            position: relative;
            /* Centrar la línea */
            margin: 0 auto;
            width: 80%; /* Puedes ajustar el ancho según tu preferencia */
        }
        .timeline:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 2px;
            background: #f5f5f6;
            /* Centrar la línea vertical */
            left: 50%;
            margin-left: -1px; /* Para centrarla exactamente */
        }
        .timeline > li {
            position: relative;
            margin-bottom: 50px;
        }
        .timeline > li:before, .timeline > li:after {
            content: " ";
            display: table;
        }
        .timeline > li:after {
            clear: both;
        }
        .timeline > li > .timeline-panel {
            width: 45%; /* Ajustar el tamaño para que no cubra toda la pantalla */
            position: relative;
            border: 1px solid #d4d4d4;
            padding: 20px;
            border-radius: 2px;
            background: #ffffff;
        }
        .timeline > li > .timeline-panel:before {
            position: absolute;
            top: 26px;
            display: inline-block;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            content: " ";
        }
        .timeline > li > .timeline-panel:after {
            position: absolute;
            top: 27px;
            display: inline-block;
            border-top: 14px solid transparent;
            border-bottom: 14px solid transparent;
            content: " ";
        }
        .timeline > li:nth-child(even) > .timeline-panel {
            float: left; /* Alinear a la izquierda los elementos pares */
        }
        .timeline > li:nth-child(even) > .timeline-panel:before {
            left: 100%;
            border-left: 15px solid #ccc;
        }
        .timeline > li:nth-child(even) > .timeline-panel:after {
            left: 100%;
            border-left: 14px solid #fff;
        }
        .timeline > li:nth-child(odd) > .timeline-panel {
            float: right; /* Alinear a la derecha los elementos impares */
        }
        .timeline > li:nth-child(odd) > .timeline-panel:before {
            right: 100%;
            border-right: 15px solid #ccc;
        }
        .timeline > li:nth-child(odd) > .timeline-panel:after {
            right: 100%;
            border-right: 14px solid #fff;
        }
        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #7c7c7c;
            z-index: 100;
            border-radius: 50%;
        }
    </style>
    </div>

{% endblock %}
