{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Reclutador</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/custom.css' %}">
</head>
<body>
    <header class="bg-white py-2 border-bottom">
        <div class="container">
            <a href="{% url 'landing' %}" class="navbar-brand">
                <img src="{% static 'images/MagnetoLogo.png' %}" alt="logo" width="70" height="70"/>
            </a>
        </div>
    </header>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Registro Reclutador</h2>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <h3 class="h5">Información de Reclutador</h3>
                                {{ user_form.as_p }}
                            </div>
                            <div class="form-group">
                                <h3 class="h5">Datos del Representante Legal</h3>
                                {{ representante_legal_form.as_p }}
                            </div>
                            <div class="form-group">
                                <h3 class="h5">Datos de la empresa</h3>
                                {{ reclutador_form.as_p }}
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
