{% extends 'base_reclutador.html' %}

{% block title %}Perfil Aspirante{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row m-4">
            <div class="container-md rounded " style="background-color: #e9e9f6;">

                    <div class="row m-5">
                    <div class="col-md-4">
                        <img src="{{aspirante.usuario.foto_perfil.url}}" class="img-fluid rounded rounded-shadow rounded-circle" alt="Foto de perfil">
                    </div>
                    <!-- Columna derecha: Nombre y otros datos en dos columnas -->
                    <div class="col-md-8 text-center" >
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <h2 class="titulo_magneto_2">{{aspirante.usuario.nombre}}</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <strong>Email: </strong>
                                    {{aspirante.usuario.email}}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <strong>Documento identidad: </strong>
                                    {{aspirante.usuario.documento_identidad}}
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <strong>Pais: </strong>
                                    {{aspirante.usuario.pais}}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <strong>Ciudad: </strong>
                                    {{aspirante.usuario.ciudad}}
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <strong>Indicativo Numero: </strong>
                                    {{aspirante.usuario.indicativo_pais}}
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <strong>Telefono: </strong>
                                    {{aspirante.usuario.telefono}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="row m-5 ">
                        <!-- Columna izquierda: Más texto -->
                        <div class="col-md-4">
                            <p>
                                <strong>Sector laboral: </strong>
                                {{aspirante.sector_laboral}}
                            </p>

                            <p>
                                <strong>Salario Deseado: </strong>
                                {{aspirante.salario}}
                            </p>

                            <p>
                                <strong>Sector laboral: </strong>
                                {{aspirante.sector_laboral}}
                            </p>

                            <p>
                                <strong>Modalidad Trabajo Deseado: </strong>
                                {{aspirante.modalidad_trabajo}}
                            </p>

                            <p>
                                <strong>Disponibilidad para Empezar: </strong>
                                {{aspirante.disponibilidad_empezar}}
                            </p>

                            <p>
                                <strong>Disponibilidad para Viajar: </strong>
                                {{aspirante.disponibilidad_viajar}}
                            </p>

                            <p>
                                <strong>Modalidad Trabajo Deseado: </strong>
                                {{aspirante.modalidad_trabajo}}
                            </p>

                            <ul class="list-inline d-flex justify-content-between mt-4">
                                {% if aspirante.redes_sociales.facebook %}
                                <li class="list-inline-item bg-transparent">
                                    <a href="{{ aspirante.redes_sociales.facebook }}" target="_blank" class="d-flex align-items-center justify-content-center text-primary">
                                        <i class="fab fa-facebook fa-2x me-2"></i>
                                    </a>
                                </li>
                                {% endif %}

                                {% if aspirante.redes_sociales.linkedin %}
                                <li class="list-inline-item bg-transparent">
                                    <a href="{{ aspirante.redes_sociales.linkedin }}" target="_blank" class="d-flex align-items-center justify-content-center text-info">
                                        <i class="fab fa-linkedin fa-2x me-2"></i>
                                    </a>
                                </li>
                                {% endif %}

                                {% if aspirante.redes_sociales.twitter %}
                                <li class="list-inline-item bg-transparent">
                                    <a href="{{ aspirante.redes_sociales.twitter }}" target="_blank" class="d-flex align-items-center justify-content-center text-info">
                                        <i class="fab fa-twitter fa-2x me-2"></i>
                                    </a>
                                </li>
                                {% endif %}

                                {% if aspirante.redes_sociales.instagram %}
                                <li class="list-inline-item bg-transparent">
                                    <a href="{{ aspirante.redes_sociales.instagram }}" target="_blank" class="d-flex align-items-center justify-content-center text-danger">
                                        <i class="fab fa-instagram fa-2x me-2"></i>
                                    </a>
                                </li>
                                {% endif %}

                                {% if aspirante.redes_sociales.github %}
                                <li class="list-inline-item bg-transparent">
                                    <a href="{{ aspirante.redes_sociales.github }}" target="_blank" class="d-flex align-items-center justify-content-center">
                                        <i class="fab fa-github fa-2x me-2"></i>
                                    </a>
                                </li>
                                {% endif %}

                                {% if aspirante.redes_sociales.youtube %}
                                <li class="list-inline-item bg-transparent">
                                    <a href="{{ aspirante.redes_sociales.youtube }}" target="_blank" class="d-flex align-items-center justify-content-center text-danger">
                                        <i class="fab fa-youtube fa-2x me-2"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- Columna derecha: Video -->
                        <div class="col-md-8">
                            <video class="w-100 shadow" controls>
                                <source src="{{aspirante.video_presentacion.url}}" type="video/mp4">
                                Tu navegador no soporta la etiqueta de video.
                            </video>
                        </div>
                    </div>

                    <div class="row m-5 shadow-sm">
                        <div class="col-3">
                            <h2 class="titulo_magneto_2">Idiomas</h2>
                            {% if idiomas %}
                                <ul class="list-group list-group-flush list-group-numbered">
                                    {% for idioma in idiomas %}
                                    <li class="list-group-item bg-transparent text-center">{{idioma.idioma}}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                    <div class="col">
                                        <p>No hay videos asociados a este empleo.</p>
                                    </div>
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <h2 class="titulo_magneto_2" >Descripción y Requisitos</h2>

                            <p class="mt-3">
                                <strong>Descripcion: </strong>
                                {{aspirante.descripcion}}
                            </p>
                            <p>
                                <strong>Gustos Intereses: </strong>
                                {{aspirante.gustos_intereses}}
                            </p>
                            <p>
                                <strong>Competencias Tecnicas: </strong>
                                {{aspirante.competencias_tecnicas}}
                            </p>
                            <p>
                                <strong>Habilidades Blandas: </strong>
                                {{aspirante.habilidades_blandas}}
                            </p>
                        </div>
                    </div>

                    <div class="card m-5 bg-transparent border-0 shadow-sm">
                        <div class="row mb-4">
                        <div class="col-md-6 px-5 pt-3  ">
                            <h2 class="text-center titulo_magneto_2">Experiencia Laboral</h2>
                            <div class="container py-5">
                                <div class="main-timeline-4 ">
                                    {% for experiencia in experiencias %}
                                    {% if forloop.counter|divisibleby:2 %}
                                        <div class="timeline-4 left-4 ">
                                            <div class="card gradient-custom text-white custom-border">
                                                <div class="card-body p-4 px-1">
                                                    <i class="fa-solid fa-briefcase fa-2x mb-2" style="color: rgb(14, 186, 78);"></i>
                                                    <h3>{{experiencia.titulo_puesto}}</h3>
                                                    <h5>{{experiencia.empresa}}</h5>
                                                    <p class="small mb-4">Inicio: {{experiencia.fecha_inicio}}</p>
                                                    <p class="small mb-4">Fin: {{experiencia.fecha_fin}}</p>

                                                    <p>{{experiencia.descripcion|truncatewords:20}}...</p>

                                                </div>
                                            </div>
                                            </div>
                                    {% else %}
                                        <div class="timeline-4  right-4 border-0">
                                            <div class="card gradient-custom-4 text-white custom-border">
                                                <div class="card-body p-4 px-1">
                                                    <i class="fa-solid fa-briefcase fa-2x mb-2" style="color: rgb(14, 186, 78);"></i>

                                                    <h3 class="">{{experiencia.titulo_puesto}}</h3>
                                                    <h5>{{experiencia.empresa}}</h5>
                                                    <p class="small  mb-4">Inicio: {{experiencia.fecha_inicio}}</p>
                                                    <p class="small  mb-4">Fin: {{experiencia.fecha_fin}}</p>

                                                    <p>{{experiencia.descripcion|truncatewords:20}}...</p>

                                                </div>
                                            </div>
                                            </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 px-5 pt-3">
                            <h2 class="text-center titulo_magneto_2">Formacion</h2>
                            <div class="container py-5">
                                <div class="main-timeline-4 text-white ">
                                    {% for formacion in formaciones %}
                                    {% if forloop.counter|divisibleby:2 %}
                                        <div class="timeline-4 left-4 ">
                                            <div class="card gradient-custom text-white custom-border">
                                                <div class="card-body p-4 px-1">
                                                    <i class="fa-solid fa-graduation-cap fa-2x mb-2" style="color: rgb(14, 186, 78);"></i>
                                                    <h3>{{formacion.titulo}}</h3>
                                                    <h5>{{formacion.institucion}}</h5>
                                                    <p class="small mb-4">Inicio: {{formacion.fecha_inicio}}</p>
                                                    <p class="small mb-4">Fin: {{formacion.fecha_fin}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="timeline-4 right-4 border-0">
                                            <div class="card gradient-custom-4 text-white custom-border" >
                                                <div class="card-body p-4 px-1">
                                                    <i class="fa-solid fa-graduation-cap fa-2x mb-2" style="color: rgb(14, 186, 78);"></i>
                                                    <h3>{{formacion.titulo}}</h3>
                                                    <h5>{{formacion.institucion}}</h5>
                                                    <p class="small mb-4">Inicio: {{formacion.fecha_inicio}}</p>
                                                    <p class="small  mb-4">Fin: {{formacion.fecha_fin}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>


                        {% if referer_postulacion %}
                        <div class="d-flex align-content-center justify-content-evenly mb-5">
                            <a href="{% url 'send_message_to_user' aspirante.usuario.id%}" class="btn btn-outline-light w-25 fondo_azul border-0">Empezar dialogo</a>

                        </div>

                            {% else %}
                        <div class="d-flex align-content-center justify-content-evenly mb-5">
                            <a href="{% url 'enviar_oferta' aspirante.id %}" class="btn btn-outline-light   fondo_azul w-25 border-0 ">Ofrecerle alguna oferta</a>
                            <a href="{% url 'send_message_to_user' aspirante.usuario.id %}" class="btn btn-outline-light  w-25 fondo_azul border-0 ">Enviale un mensaje</a>
                        </div>


                            {% endif %}

                </div>
            </div>
        </div>
    </div>


{% endblock %}

