{% extends 'base_reclutador.html' %}

{% block title %}Video de Empleo{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row m-4">
        <div class="container-md rounded " style="background-color: #e9e9f6;">
            <div class="col-md-8 m-5 mx-auto">

                <h1 class="titulo_magneto_2">Cargar Video para Empleo</h1>

                <form method="POST" enctype="multipart/form-data">  <!-- Importante: enctype para manejar archivos -->
                    {% csrf_token %}
                    {{ form.as_p }}  <!-- Muestra los campos del formulario -->
                    <button type="submit" class="btn btn-outline-light btn-sm w-25 fondo_azul border-0 mt-3">Cargar Video</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
