{% extends 'base_reclutador.html' %}

{% block title %}Perfil Aspirante{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="row m-4">
      <div class="container-md rounded " style="background-color: #e9e9f6;">
          <h2 class="titulo_magneto_2 m-3">Enviar Oferta para {{aspirante.usuario.nombre}}</h2>
        <form method="post" novalidate class="m-5">
            {% csrf_token %}

            <p class="text-start m-0"> Mensaje</p>
            {{ form.mensaje }}
            <p class="text-start m-0 mt-3"> Empleo</p>
            {{ form.empleo }}

            <button type="submit" class="btn btn-outline-light btn-sm w-50 fondo_azul border-0 mt-3">Enviar Oferta</button>
            {% if form.mensaje.errors %}
              <div class="alert alert-danger">
                  {{ form.mensaje.errors }}
              </div>
            {% endif %}
        </form>
      </div>
    </div>
</div>


{% endblock %}

