{% extends 'base_reclutador.html' %}

{% block title %}Empleos creados por el Reclutador{% endblock %}

{% block content %}
<div class="container mt-5 bg-success-subtle rounded-4 p-5">
    <h1>Empleos creados</h1>

    {% if empleos %}
        <table class="table table-success table-striped table-borderless table-hover">
            <thead >
                <tr>
                    <th>Título</th>
                    <th>Sector</th>
                    <th>Salario</th>
                    <th>País</th>
                    <th>Ciudad</th>
                    <th>Fecha de creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for empleo in empleos %}
                    <tr>
                        <td>{{ empleo.titulo }}</td>
                        <td>{{ empleo.sector_laboral }}</td>
                        <td>{{ empleo.salario }}</td>
                        <td>{{ empleo.pais }}</td>
                        <td>{{ empleo.ciudad }}</td>
                        <td>{{ empleo.fecha_creacion|date:"d M Y" }}</td>
                        <td>
                            <a href="{% url 'detalle_empleo' empleo.id %}" class="btn btn-info btn-sm">Ver</a>
                            <a href="{% url 'editar_empleo' empleo.id %}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'eliminar_empleo' empleo.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                            <a href="{% url 'cargar_video_post_empleo' empleo.id %}" class="btn btn-success btn-sm">Crear Video</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No has creado ningún empleo todavía.</p>
    {% endif %}
</div>
{% endblock %}
