{% extends 'base_reclutador.html' %}

{% block title %}Postulaciones{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            {% for empleo, postulaciones in postulaciones_por_empleo.items %}
                {% for postulacion in postulaciones %}
                    <div class="col-md-4 mb-4">
                        <div class="card ">
                            <div class="card-header">
                                <h2 class="card-title">{{postulacion.empleo.titulo }}</h2>  <!-- Asegúrate de que `nombre_empresa` sea un campo de tu modelo Empleo -->
                            </div>
                            <video class="card-img-top" controls>
                                <source src="{{ postulacion.aspirante.video_presentacion.url }}" type="video/mp4">
                                Tu navegador no soporta el elemento de video.
                            </video>
                            <img src="{{postulacion.aspirante.usuario.foto_perfil.url}}" class="card-img-top" alt="Foto perfil">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Nombre: </strong> {{ postulacion.aspirante.usuario.nombre }}</h5>
                                <p class="card-text"><strong>Descripcion: </strong> {{ postulacion.aspirante.descripcion }}</p>
                                <p class="card-text"><strong>Objetivos: </strong> {{ postulacion.aspirante.objetivos }}</p>
                                <p class="card-text"><strong>Proyectos: </strong> {{ postulacion.aspirante.objetivos }}</p>
                            </div>
                            <div class="row mx-5 px-5 mb-4">
                                <a href="#" class="btn btn-success">Ver perfil completo</a>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>No hay videos disponibles.</p>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
