{% extends base %}
{% block content %}
<div class="container-fluid">
    <div class="row m-4">
        <div class="container-md rounded " style="background-color: #e9e9f6;">
            <div class="row m-5 mb-0">
                <h2 class="text-center mb-4 titulo_magneto_2">Mis Grupos de Interés</h2>
                {% for grupo in grupos %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 b">
                            <img src="{{ grupo.image.url }}" class="card-img-top p-3 border-bottom border-4" alt="Imagen de {{ grupo.nombre }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ grupo.nombre }}</h5>
                                <p class="card-text">{{ grupo.descripcion|truncatewords:20 }}</p>
                            </div>
                            <div class="card-footer text-center border-0">
                                {% if base == 'base_aspirante.html' %}
                                    <a href="{% url 'detalle_grupo' grupo.id %}" class="btn btn-outline-light btn-sm w-50 fondo_verde border-0">Detalle</a>
                                {% else %}
                                    <a href="{% url 'detalle_grupo' grupo.id %}" class="btn btn-outline-light btn-sm w-50 fondo_azul border-0">Detalle</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-center">No tienes grupos de interés aún.</p>
                {% endfor %}
            </div>

            {% if base == 'base_aspirante.html' %}
                <a href="{% url 'crear_grupo' %}" class="btn btn-outline-light btn-sm  w-25 fondo_verde border-0 mx-auto mb-5">Crea un grupo</a>
            {% else %}
                <a href="{% url 'crear_grupo' %}" class="btn btn-outline-light btn-sm w-25 fondo_azul border-0 mx-auto mb-5">Crea un grupo</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
