{% extends 'base_aspirante.html' %}

{% block title %}Todos los empleos disponibles{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Mostrar mensajes de éxito o advertencia -->
    {% if messages %}
        <div class="row">
            <div class="col-md-12">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-8">
            <h1 class="mb-4">{{ empleo.titulo }}</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong class="fw-bold">Sector laboral:</strong> {{ empleo.sector_laboral }}
                </li>
                <li class="list-group-item">
                    <strong class="fw-bold">Salario:</strong> {{ empleo.salario }}
                </li>
                <li class="list-group-item">
                    <strong class="fw-bold">País:</strong> {{ empleo.pais }}
                </li>
                <li class="list-group-item">
                    <strong class="fw-bold">Ciudad:</strong> {{ empleo.ciudad }}
                </li>
                <li class="list-group-item">
                    <strong class="fw-bold">Descripción:</strong> {{ empleo.descripcion }}
                </li>
                <li class="list-group-item">
                    <strong class="fw-bold">Habilidades requeridas:</strong> {{ empleo.habilidades }}
                </li>
                <li class="list-group-item">
                    <strong class="fw-bold">Experiencia:</strong> {{ empleo.experiencia }}
                </li>
                <li class="list-group-item">
                    <strong class="fw-bold">Nivel de estudios:</strong> {{ empleo.nivel_estudios }}
                </li>
                <li class="list-group-item">
                    <strong class="fw-bold">Modalidad de trabajo:</strong> {{ empleo.modalidad_trabajo }}
                </li>
                <li class="list-group-item">
                    <strong class="fw-bold">Tipo de contrato:</strong> {{ empleo.tipo_contrato }}
                </li>
            </ul>
            <div class="mt-4">
                <a href="{% url 'postularme_empleo' empleo.id %}" class="btn btn-success me-2">Postularme</a>
                <a href="{% url 'anadir_favoritos' empleo.id %}" class="btn btn-danger me-2">Añadir a favoritos</a>
                <a href="#" class="btn btn-secondary">Otra Opción</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
