{% extends 'base_aspirante.html' %}

{% block title %}Empleos disponibles{% endblock %}

{% block content %}
<div class="container">
    <h1>Empleos disponibles</h1>

    {% if empleos %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Sector</th>
                    <th>Salario</th>
                    <th>País</th>
                    <th>Ciudad</th>
                    <th>Fecha de creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for empleo in empleos %}
                    <tr>
                        <td>{{ empleo.titulo }}</td>
                        <td>{{ empleo.sector_laboral }}</td>
                        <td>{{ empleo.salario }}</td>
                        <td>{{ empleo.pais }}</td>
                        <td>{{ empleo.ciudad }}</td>
                        <td>{{ empleo.fecha_creacion|date:"d M Y" }}</td>
                        <td>
                            <a href="{% url 'postularme_empleo' empleo.id %}" class="btn btn-success me-2">Postularme</a>
                            <a href="{% url 'detalle_empleo_aspirante' empleo.id %}" class="btn btn-info me-2 ">Ver</a>
                            <a href="{% url 'anadir_favoritos' empleo.id %}" class="btn btn-danger me-2">Añadir a favoritos</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay empleos disponibles.</p>
    {% endif %}
</div>
{% endblock %}
