{% extends 'base_aspirante.html' %} {% load static %}
{% load static %}

{% block content %}


<div class="container-fluid">
    <div class="row m-5">
        <div class="container-md rounded " style="background-color: #e9e9f6;">
            <div class="row mt-5 mb-0">
                <h2 class="titulo_magneto_2"><span class="color_m_font_big_3">m</span>is videoPost</h2>
                <a href="{% url 'crear_video_post' %}" class="btn btn-outline-light btn-sm fondo_verde border-0 w-25 mx-auto">Crear Nuevo Video</a>
            </div>

            <div class="row g-4 m-5 mt-2">
                {% for video in videos %}
                    <div class="col-md-3">
                        <div class="card shadow h-100">
                            <video class="card-img-top p-3" controls>
                                <source src="{{ video.video_post.url }}" type="video/mp4">
                                Tu navegador no soporta el elemento de video.
                            </video>
                            <div class="card-body">
                                <h5 class="card-title"><strong>{{ video.titulo }}</strong></h5>
                                <p class="card-text">Descripcion: {{ video.descripcion }}</p>
                                <p class="card-text"><small class="text-muted">Creado el: {{ video.fecha_creacion|date:"d M Y" }}</small></p>
                                <p class="card-text"><small class="text-muted">Likes: {{ video.likes.count }}</small></p>

                                <!-- Botones de Editar y Eliminar -->
                                <div class="d-flex align-content-center align-content-center justify-content-center">
                                    <a href="{% url 'editar_video' video.id %}" class="btn btn-outline-light btn-sm fondo_verde border-0 mx-1">Editar</a>
                                    <form action="{% url 'eliminar_video' video.id %}" method="post" class="">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-light btn-sm fondo_verde border-0 mx-1" onclick="return confirm('¿Estás seguro de que deseas eliminar este video?');">Eliminar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
