{% extends 'base_reclutador.html' %}
{% block content %}
{% load static %}

<div class="container-fluid p-5">
    <h1 class="mb-4">Lista Aspirantes</h1>
    {% if aspirantes %}
        <div class="row">
            {% for aspirante in aspirantes %}
                <div class="col-md-4">
                    <div class="card text-bg-dark mb-3 ">
                        {% if aspirante.usuario.foto_perfil %}
                            <img src="{{ aspirante.usuario.foto_perfil.url }}" class="card-img-top" alt="Foto de perfil">
                        {% else %}
                            <img src="{% static 'default_profile.jpg' %}" class="card-img-top" alt="Default profile">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ aspirante.usuario.nombre }}</h5>
                            <p class="card-text">{{ aspirante.usuario.email }}</p>
                            <p class="card-text">{{ aspirante.descripcion }}</p>
                        </div>
                        <div class="row mx-5 px-5 mb-4">
                                <a href="{% url 'base_ver_perfil_aspirante' aspirante.id %}" class="btn btn-success">Ver perfil completo</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No hay aspirantes disponibles.</p>
    {% endif %}
{% endblock %}
</div>