{% extends 'base_reclutador.html' %}
{% block content %}
    <h1>Lista de aspirantes</h1>

    {% if aspirantes %}
        <div class="row">
            {% for aspirante in aspirantes %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% if aspirante.usuario.foto_perfil %}
                            <img src="{{ aspirante.usuario.foto_perfil.url }}" class="card-img-top" alt="Foto de perfil">
                        {% else %}
                            <img src="{{ MEDIA_URL }}default_profile.jpg" class="card-img-top" alt="Default profile">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ aspirante.usuario.nombre }}</h5>
                            <p class="card-text">{{ aspirante.usuario.email }}</p>
                            <p class="card-text">{{ aspirante.descripcion }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No hay aspirantes disponibles.</p>
    {% endif %}
{% endblock %}