{% extends 'base_reclutador.html' %}{% load static %}


{% block title %}Videos de aspirantes{% endblock %}

{% block content %}
<div id="videoCarousel" class="carousel slide mt-2 mx-2" data-bs-ride="false">
    <div class="carousel-inner">
        {% for video, similitud in videos %}

            <div class="carousel-item {% if forloop.first %}active{% endif %} z-1 position-relative card">
                <h2 class="card-header titulo_magneto_2" >{{video.titulo}}</h2>
                <video id="video{{ forloop.counter }}" class="d-block w-100 card-body m-0 p-0" controls muted>
                    <source src="{{ video.video_post.url }}" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>
                <div class="card-footer text-body-secondary">
                    <h4>{{video.aspirante.usuario.nombre}}</h4>
                    <p>{{video.descripcion|truncatewords:50}}</p>
                    <p>{{video.fecha_creacion}}</p>
                    <a href="{% url 'base_ver_perfil_aspirante' video.aspirante.id %}" class="btn btn-outline-light btn-sm w-25 fondo_azul border-0">Ver Perfil</a>
                    <form action="{% url 'toggle_like_video_post_aspirante' video.aspirante.id %}" method="post" class="btn btn-danger btn-outline-info btn-sm border-0">
                    {% csrf_token %}
                      <button type="submit" class="border-0 bg-transparent text-white">
                        {% if request.user in video.likes.all %}
                        <i class="fas fa-thumbs-down"></i>Dislike
                        {% else %}
                          <i class="fas fa-thumbs-up" type="submit"></i>Like
                        {% endif %}
                      </button>
                  </form>
                </div>

            </div>

        {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#videoCarousel" data-bs-slide="prev" style="top: 50%; transform: translateY(-50%);">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#videoCarousel" data-bs-slide="next" style="top: 50%; transform: translateY(-50%);">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> <!-- Ruta de Bootstrap -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const carouselElement = document.getElementById('videoCarousel');
        const carousel = new bootstrap.Carousel(carouselElement, {
            interval: false,  // Deshabilita la reproducción automática
            ride: false
        });

        // Reproduce el video actual al cargar
        let currentVideo = document.querySelector('.carousel-item.active video');
        currentVideo.play();

        document.querySelectorAll('.carousel-item video').forEach((video, index) => {
            video.onended = function() {
                carousel.next(); // Mueve al siguiente video en el carrusel

                // Esperar hasta que el siguiente video esté activo y luego reproducirlo
                const nextVideo = carouselElement.querySelector('.carousel-item.active video');
                if (nextVideo) {
                    nextVideo.play();
                }
            };
        });

        // Detiene cualquier reproducción de video que no esté en el elemento activo
        carouselElement.addEventListener('slid.bs.carousel', function () {
            document.querySelectorAll('.carousel-item video').forEach(video => {
                video.pause();
                video.currentTime = 0;
            });
            const activeVideo = carouselElement.querySelector('.carousel-item.active video');
            if (activeVideo) {
                activeVideo.play();
            }
        });
    });
</script>

{% endblock %}